.navbar {
    background-color: #1e3a8a;
    /* color: white; */
    padding: 0.5rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px 12px;
    transition: background 0.3s;
  }
  
  .navbar-links {
    border-radius: 4px;
  }

  .loginBtn{
    border: 2px solid white;
    border-radius: 2px;
    padding: 0px 5px;
  }

  .navbar-links .signupBtn{
    background-color: white;
    color: #1e3a8a;
    border-radius: 2px;
    padding: 7px 10px;
  }
  
  .navbar-links button {
    background-color: #e11d48;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  .navbar-links button:hover {
    background-color: #be123c;
  }
  
  /* ✅ Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem;
        
      }
  }
  